
<h1 class="text-center">GRUPOS</h1>
<div class="row row-cols-3">
  <div class="col">
    <div class="grupo-header mt-2">
      <h4>GRUPO A</h4>
    </div>
    <div clas="grupo-body">
      <ul class="grupo-lista">
        <li><img src="https://livescore-api.com/themes/admin/img/ITA.png" alt="imagenitalia" width="25px"
            class="img-fluid float-start">
          <p>Italia</p>
        </li>
        <li><img src="https://livescore-api.com/themes/admin/img/SUI.png" alt="imagensuiza" width="25px"
            class="img-fluid float-start">
          <p>Suiza</p>
        </li>
        <li><img src="https://livescore-api.com/themes/admin/img/WAL.png" alt="imagengales" width="25px"
            class="img-fluid float-start">
          <p>Gales</p>
        </li>
        <li><img src="https://livescore-api.com/themes/admin/img/TUR.png" alt="imagenturquia" width="25px"
            class="img-fluid float-start">
          <p>Turquía</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="col">
  <div class="grupo-header mt-2">
    <h4>GRUPO B</h4>
  </div>
  <div clas="grupo-body">
    <ul class="grupo-lista">
      <li><img src="https://livescore-api.com/themes/admin/img/BEL.png" alt="imagenbelgica" width="25px"
          class="img-fluid float-start">
        <p>Bélgica</p>
      </li>
      <li><img src="https://livescore-api.com/themes/admin/img/DEN.png" alt="imagendinamarca" width="25px"
          class="img-fluid float-start">
        <p>Dinamarca</p>
      </li>
      <li><img src="https://livescore-api.com/themes/admin/img/FIN.png" alt="imagenfinlandia" width="25px"
          class="img-fluid float-start">
        <p>Finlandia</p>
      </li>
      <li><img src="https://livescore-api.com/themes/admin/img/RUS.png" alt="imagenrusia" width="25px"
          class="img-fluid float-start">
        <p>Rusia</p>
      </li>
    </ul>
  </div>
</div>
<div class="col">
  <div class="grupo-header mt-2">
    <h4>GRUPO C</h4>
  </div>
  <div clas="grupo-body">
    <ul class="grupo-lista">
      <li><img src="https://livescore-api.com/themes/admin/img/AUT.png" alt="imagenbelgica" width="25px"
          class="img-fluid float-start">
        <p>Austria</p>
      </li>
      <li><img src="https://livescore-api.com/themes/admin/img/NED.png" alt="imagendinamarca" width="25px"
          class="img-fluid float-start">
        <p>Holanda</p>
      </li>
      <li><img src="https://livescore-api.com/themes/admin/img/MKD.png" alt="imagenfinlandia" width="25px"
          class="img-fluid float-start">
        <p>Macedonia del Norte</p>
      </li>
      <li><img src="https://livescore-api.com/themes/admin/img/UKR.png" alt="imagenrusia" width="25px"
          class="img-fluid float-start">
        <p>Ucrania</p>
      </li>
    </ul>
  </div>
</div>
<div class="col">
  <div class="grupo-header mt-2">
    <h4>GRUPO D</h4>
  </div>
  <div clas="grupo-body">
    <ul class="grupo-lista">
      <li><img src="https://livescore-api.com/themes/admin/img/CRO.png" alt="imagencroacia" width="25px"
          class="img-fluid float-start">
        <p>Croacia</p>
      </li>
      <li><img src="https://livescore-api.com/themes/admin/img/CZE.png" alt="imagenrepcheca" width="25px"
          class="img-fluid float-start">
        <p>República Checa</p>
      </li>
      <li><img src="https://livescore-api.com/themes/admin/img/ENG.png" alt="imageninglaterra" width="25px"
          class="img-fluid float-start">
        <p>Inglaterra</p>
      </li>
      <li><img src="https://livescore-api.com/themes/admin/img/SCO.png" alt="imagenescocia" width="25px"
          class="img-fluid float-start">
        <p>Escocia</p>
      </li>
    </ul>
  </div>
</div>
<div class="col">
  <div class="grupo-header mt-2">
    <h4>GRUPO E</h4>
  </div>
  <div clas="grupo-body">
    <ul class="grupo-lista">
      <li><img src="https://livescore-api.com/themes/admin/img/SVK.png" alt="imageneslovaquia" width="25px"
          class="img-fluid float-start">
        <p>Eslovaquia</p>
      </li>
      <li><img src="https://livescore-api.com/themes/admin/img/POL.png" alt="imagenpolonia" width="25px"
          class="img-fluid float-start">
        <p>Polonia</p>
      </li>
      <li><img src="https://livescore-api.com/themes/admin/img/ESP.png" alt="imagenespana" width="25px"
          class="img-fluid float-start">
        <p>España</p>
      </li>
      <li><img src="https://livescore-api.com/themes/admin/img/SWE.png" alt="imagensuecia" width="25px"
          class="img-fluid float-start">
        <p>Suecia</p>
      </li>
    </ul>
  </div>
</div>
<div class="col">
  <div class="grupo-header mt-2">
    <h4>GRUPO F</h4>
  </div>
  <div clas="grupo-body">
    <ul class="grupo-lista">
      <li><img src="https://livescore-api.com/themes/admin/img/FRA.png" alt="imagenfrancia" width="25px"
          class="img-fluid float-start">
        <p>Francia</p>
      </li>
      <li><img src="https://livescore-api.com/themes/admin/img/GER.png" alt="imagenalemania" width="25px"
          class="img-fluid float-start">
        <p>Alemania</p>
      </li>
      <li><img src="https://livescore-api.com/themes/admin/img/HUN.png" alt="imagenhungria" width="25px"
          class="img-fluid float-start">
        <p>Hungría</p>
      </li>
      <li><img src="https://livescore-api.com/themes/admin/img/POR.png" alt="imagenportugal" width="25px"
          class="img-fluid float-start">
        <p>Portugal</p>
      </li>
    </ul>
  </div>
</div>
</div>
