
  <footer class="site-footer mt-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Información</h6>
          <p class="text-justify">Página web creada para el proyecto de fin de curso de Programación en Java Fullstack (Presencia Virtual Online - Alicante) en la EOI.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Backend</h6>
          <ul class="footer-links">
            <li>Java</li>
            <li>Hibernates</li>
            <li>Spring</li>
            <li>ProstgreSQL</li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Frontend</h6>
          <ul class="footer-links">
            <li>HTML CSS Bootstrap</li>
            <li>Javascript</li>
            <li>Typescript</li>
            <li>Angular</li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text text-white">Creado por: David Asensi - 2021
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li class="float-md-center"><a class="linkedin" href="https://www.linkedin.com/in/davidasensi/"><i class="fab fa-linkedin-in"></i></a></li>
            <li class="float-md-center"><a class="angular" href="https://angular.io/"><i class="fab fa-angular"></i></a></li>
            <li class="float-md-center"><a class="java" href="https://www.java.com/es/"><i class="fab fa-java"></i></a></li>
            <li class="float-md-center"><a class="javascript" href="#"><i class="fab fa-js-square"></i></a></li>
            <li class="float-md-center"><a class="postgres" href="https://www.postgresql.org/"><i class="fas fa-database"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
