<h1 class="text-center mt-5 titulazo">ESTADÍSTICAS</h1>
<div class="row row-cols-3 mt-4 ms-2">
  <div class="col">
    <h3 class="text-center mb-3">Máximos goleadores</h3>
    <ul>
      <li><img src="https://statorium.com/media/bearleague/thumb/bl16194615721071.png" width="70px" alt="imagenronaldo"
        class="img-thumbnail">  <img src="https://statorium.com/media/bearleague/events/48x48icons-14.png" alt="balon"
        > <b>5</b> Cristiano Ronaldo (POR)</li>
      <li><img src="https://statorium.com/media/bearleague/thumb/bl16229895161281.png" width="70px" alt="imagenschick"
        class="img-thumbnail"> <img src="https://statorium.com/media/bearleague/events/48x48icons-14.png" alt="balon"
        ><b>5</b> Patrik Schick (RPC) </li>
      <li><img src="https://statorium.com/media/bearleague/thumb/bl16183092321072.png" width="70px" alt="imagenlukaku"
        class="img-thumbnail">  <img src="https://statorium.com/media/bearleague/events/48x48icons-14.png" alt="balon"
        ><b>4</b> Romelu Lukaku (BEL)</li>
      <li><img src="https://statorium.com/media/bearleague/thumb/bl16193696512602.png" width="70px" alt="imagenforberg"
        class="img-thumbnail">  <img src="https://statorium.com/media/bearleague/events/48x48icons-14.png" alt="balon"
        ><b>4</b> Emil Forsberg (SUE)</li>
      <li><img src="https://statorium.com/media/bearleague/thumb/bl16226499421028.png" width="70px" alt="imagenbenzema"
        class="img-thumbnail"> <img src="https://statorium.com/media/bearleague/events/48x48icons-14.png" alt="balon"
        ><b>4</b> Karim Benzema (FRA) </li>
    </ul>
  </div>
  <div class="col">
    <h3 class="text-center mb-3">Máximos asistentes</h3>
    <ul>
      <li><img src="https://statorium.com/media/bearleague/thumb/bl1622816435753.png" width="70px" alt="imagenronaldo"
        class="img-thumbnail">  <img src="https://statorium.com/media/bearleague/events/icons-16.png" alt="balon"
        > <b>4</b> Steven Zuber (SUI)</li>
      <li><img src="https://statorium.com/media/bearleague/thumb/bl1619636171478.png" width="70px" alt="imagenschick"
        class="img-thumbnail"> <img src="https://statorium.com/media/bearleague/events/icons-16.png" alt="balon"
        ><b>3</b> Luke Shaw (ING)</li>
      <li><img src="https://statorium.com/media/bearleague/thumb/bl16229998911857.png" width="70px" alt="imagenlukaku"
        class="img-thumbnail">  <img src="https://statorium.com/media/bearleague/events/icons-16.png" alt="balon"
        ><b>3</b> Romelu Lukaku (BEL)</li>
      <li><img src="https://statorium.com/media/bearleague/thumb/bl15816735751215.png" width="70px" alt="imagenforberg"
        class="img-thumbnail">  <img src="https://statorium.com/media/bearleague/events/icons-16.png" alt="balon"
        ><b>3</b> Pierre-Emile Höjbjerg (DIN)</li>
      <li><img src="https://statorium.com/media/bearleague/thumb/bl161830265190.png" width="70px" alt="imagenbenzema"
        class="img-thumbnail"> <img src="https://statorium.com/media/bearleague/events/icons-16.png" alt="balon"
        ><b>2</b> Thomas Meunier (BEL)</li>
    </ul>
  </div>
  <div class="col">
    <h3 class="text-center mb-3">Tarjetas amarillas</h3>
    <ul>
      <li><img src="https://statorium.com/media/bearleague/thumb/bl1622997372973.png" width="70px" alt="imagenronaldo"
        class="img-thumbnail">  <img src="https://statorium.com/media/bearleague/events/48x48icons-05.png" width="30px" alt="balon"
        > <b>3</b> Harry Maguire (ING)</li>
      <li><img src="https://statorium.com/media/bearleague/thumb/bl16196303461848.png" width="70px" alt="imagenschick"
        class="img-thumbnail"> <img src="https://statorium.com/media/bearleague/events/48x48icons-05.png" width="30px" alt="balon"
        ><b>2</b> Ondrej Duda (SLO)</li>
      <li><img src="https://statorium.com/media/bearleague/thumb/bl161945334791.png" width="70px" alt="imagenlukaku"
        class="img-thumbnail">  <img src="https://statorium.com/media/bearleague/events/48x48icons-05.png" width="30px" alt="balon"
        ><b>2</b> Endre Botka (HUN)</li>
      <li><img src="https://statorium.com/media/bearleague/thumb/bl16015340762779.png" width="70px" alt="imagenforberg"
        class="img-thumbnail">  <img src="https://statorium.com/media/bearleague/events/48x48icons-05.png" width="30px" alt="balon"
        ><b>2</b> Hakan Calhanoglu (TUR)</li>
      <li><img src="https://statorium.com/media/bearleague/thumb/bl15959404901737.png" width="70px" alt="imagenbenzema"
        class="img-thumbnail"> <img src="https://statorium.com/media/bearleague/events/48x48icons-05.png" width="30px" alt="balon"
        ><b>2</b> Benjamin Pavard (FRA)</li>
    </ul>
  </div>
