<nav class="navbar navbar-dark navbar-expand-lg mb-4" style="background-color: #487eb0;">
  <div class="container">
    <img src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_angular_icon_130754.png" width="55px">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-en" id="navbarsExample07">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/indice']">Página principal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lista']">Jugadores</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
